<div class="login-block">
  <mat-card-header>
    <p>
      <mat-label class="login-title">Login to Character Manager</mat-label>
    </p>
  </mat-card-header>
  <mat-card-actions>
    <form>
      <p>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Username"
            name="username"
            [(ngModel)]="username"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
      </p>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Login
      </button>
      <p></p>
      <h3 *ngIf="showSuccess" class="success-login-text">
        <app-snackbar-login></app-snackbar-login>
      </h3>
      <h3 *ngIf="showFailed" class="failed-login-text"></h3>
    </form>
  </mat-card-actions>
</div>
