<div class="login-block">
  <mat-card-header>
    <p>
      <mat-card-title class="login-title"
        >Login to Character Manager</mat-card-title
      >
    </p>
  </mat-card-header>
  <mat-card-actions>
    <form>
      <p>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Username"
            name="username"
            [(ngModel)]="username"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
      </p>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Login
      </button>
    </form>
  </mat-card-actions>
</div>
