<div class="login-block">
  <p>
    <mat-label>Login to Character Manager</mat-label>
  </p>
  <mat-card>
    <form>
      <p>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Username"
            name="username"
            [(ngModel)]="username"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
      </p>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Login
      </button>
      <p></p>
      <h3 *ngIf="showSuccess" class="success-login-text">
        <mat-label>Login Success!!!</mat-label>
      </h3>
      <h3 *ngIf="showFailed" class="failed-login-text">
        <mat-label>Login Failed!!</mat-label>
      </h3>
    </form>
  </mat-card>
</div>
